

body{
  background-color: linen;
}

.board{
  margin:auto;
  width:38%;
  height:700px;
  padding:5% 0 0 1%;
  background-image: url("../img/tttBoard.jpg");
  background-repeat: no-repeat;
}


.grdgrp{
  margin-top: 20%;
  width:100%;
  height:70%;
}

.grid{
  width:28%;
  height:30%;
  float:left;
  margin:2% 3% 1% 2%;
  //background-color: plum;
}
/*.holder{
  clear: both;
}*/
